<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <a class="navbar-a" style="margin-left: 20px" href="{% url 'index' %}">Home</a>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <span class="navbar-text">You are logged as {{ user.username }}</span>
                <span style="color: #bdbdbd; scale: 1 2 1; margin-top: 8px;float: left">|</span>
                <a class="navbar-a navbar-logout" href="/logout">Logout</a>
            {% else %}
                <a class="navbar-a navbar-login" style="margin-right: 20px" href="/login">Login</a>
            {% endif %}
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>