{% extends "base.html" %}

{% block title %}TODO{% endblock %}


{% block content %}
    <div class="todo-box">
        <h1>Todo List</h1>
        {% for task in tasks %}
            <span>{{ task }}</span>
            <br>
        {% endfor %}
    </div>




{#    <div class="todo-box">#}
{#        <h1>Todo List</h1>#}
{#        <div class="tasks-box">#}
{##}
{#            {% for task in tasks %}#}
{#                <div class="task">#}
{#                    <span>{{ task }}</span>#}
{#                    <br>#}
{#                </div>#}
{##}
{#            {% endfor %}#}
{#        </div>#}





{% endblock %}

