/* CSS COLORS */
:root {
	--jet: #363636ff;
	--indian-red: #db5461ff;
	--floral-white: #fff8f0ff;
	--floral-white-hover: #e5dfd8;
	--celestial-blue: #1b98e0ff;
	--celestial-blue-hover: #48acff;
	--mint: #3ab795ff;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}


.navbar {
	background-color: var(--jet);
	width: 100%;
	padding: 16px 0px 16px 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

.navbar a{
	padding: 8px;
	color: var(--floral-white);
	font-size: 20px;
	float: left;
}

.navbar a:hover{
	color: var(--floral-white-hover);
}

.navbar-right{
	float: right;
}

.navbar-logout{
	margin-right: 20px;
}

.navbar-text{
	padding: 8px;
	color: var(--floral-white);
	font-size: 20px;
	float: left;
}

/*Login css*/

.form-login-username{

}

.form-login-password{

}

.form-login-btn{
	background-color: var(--celestial-blue);
	border: none;
	color: var(--floral-white);
	padding: 10px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
}

.form-login-btn:hover{
	background-color: var(--celestial-blue-hover);
}

.login-box{
	text-align: center;
	color: var(--jet);
}

/*Register css*/

.register-box{
	text-align: center;
	color: var(--jet);
}


/*Index page css*/


.todo-box{
	text-align: center;
	color: var(--jet);
}

.tasks-box{
	width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task{
	margin-left: -100px;
	display: inline-block;
	text-align: left;
}

