/* CSS COLORS */
:root {
	--jet: #363636ff;
	--jet1: #f2f2f2;
	--indian-red: #d02c3c;
	--indian-red-hover: #db5461ff;
	--floral-white: #fff8f0ff;
	--floral-white-hover: #e5dfd8;
	--celestial-blue: #1b98e0ff;
	--celestial-blue-hover: #48acff;
	--mint: #3ab795ff;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}


.navbar {
	background-color: var(--jet);
	width: 100%;
	padding: 16px 0px 16px 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

.navbar a{
	padding: 8px;
	color: var(--floral-white);
	font-size: 20px;
	float: left;
}

.navbar a:hover{
	color: var(--floral-white-hover);
}

.navbar-right{
	float: right;
}

.navbar-logout{
	margin-right: 20px;
}

.navbar-text{
	padding: 8px;
	color: var(--floral-white);
	font-size: 20px;
	float: left;
}

/*Login css*/

.form-login-username{

}

.form-login-password{

}

.form-login-btn{
	background-color: var(--celestial-blue);
	border: none;
	color: var(--floral-white);
	padding: 10px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

.form-login-btn:hover{
	background-color: var(--celestial-blue-hover);
}

.login-box{
	text-align: center;
	color: var(--jet);
}

/*Register css*/

.register-box{
	text-align: center;
	color: var(--jet);
}


/*Index page css*/

.todo-post-form{
	text-align: center;
}

.add-task-btn{
	background-color: var(--celestial-blue);
	border: none;
	color: var(--floral-white);
	padding: 6px 16px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

.add-task-btn:hover{
	background-color: var(--celestial-blue-hover);
}



.tasks-box{
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: flex-start;
  	width: fit-content;
  	padding: 10px;
  	margin: auto;
}

.task{
	display: block;
	align-items: center;
	font-size: 18px;
	margin-top: 5px;
}

.task input[type="checkbox"]{
	margin-right: 10px
}

input:checked+label{
	text-decoration: line-through;
	opacity: 0.5;
}


.task-delete-btn{
	background-color: var(--indian-red);
	color: var(--floral-white);
	border: none;
	border-radius: 5px;
	padding: 6px;
	text-decoration: none;
	float: right;
	margin-left: 10px;
	margin-top: -5px;
}

.task-delete-btn:hover{
	background-color: var(--indian-red-hover);
}


.task-separator-top{
	margin-left: auto;
	margin-right: auto;
	height: 2px;
  	background-color: var(--jet);
	opacity: 0.3;
  	margin-top: 5px;
  	width: 350px;
}

.task-separator {
  	height: 2px;
  	background-color: var(--jet);
	opacity: 0.3;
  	margin-top: 14px;
	margin-bottom: 5px;
  	width: 300px;
}

/*red*/
/*orange*/
/*yellow*/
/*green*/
/*blue*/
/*violet*/

.color-filter{
	margin-top: 1px;
	width: 20px;
	height: 22px;
	border: none;
	border-radius: 5px;
}

.color-filter:hover{
	opacity: 0.7;
}

:root{
	--filter-red: #e32636;
	--filter-orange: #ffa500;
	--filter-cyan: #33ffff; /* Triadic */
	--filter-green: #1bff1b; /* Split-Complementary */
	--filter-blue: #3335ff; /* Analogous & Triadic */
	--filter-purple: #8A2BE2; /* Split-Complementary */
}

/*id 1*/
#color-filter-red{
	background: linear-gradient(to right, var(--filter-red) 0%, var(--filter-red) 50%, var(--jet1) 50%, var(--jet1) 100%);
}
/*id 2*/
#color-filter-orange{
	background: linear-gradient(to right, var(--filter-orange) 0%, var(--filter-orange) 50%, var(--jet1) 50%, var(--jet1) 100%);
}
/*id 3*/
#color-filter-green{
	background: linear-gradient(to right, var(--filter-green) 0%, var(--filter-green) 50%, var(--jet1) 50%, var(--jet1) 100%);
}
/*id 4*/
#color-filter-cyan{
	background: linear-gradient(to right, var(--filter-cyan) 0%, var(--filter-cyan) 50%, var(--jet1) 50%, var(--jet1) 100%);
}
/*id 5*/
#color-filter-blue{
	background: linear-gradient(to right, var(--filter-blue) 0%, var(--filter-blue) 50%, var(--jet1) 50%, var(--jet1) 100%);
}
/*id 6*/
#color-filter-purple{
	background: linear-gradient(to right, var(--filter-purple) 0%, var(--filter-purple) 50%, var(--jet1) 50%, var(--jet1) 100%);
}




